<section id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
          <i class="fab fa-node-js fa-5x"></i>
          <h3>Node</h3>
        <p>Built with the Node and Express, Daily Journal is powerful but lightwight </p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="fas fa-users fa-5x"></i>
        <h3>Social</h3>
        <p>Share your thoughts and ideas onto the main feed for everyone to read.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="fas fa-user-lock fa-5x"></i>
        <h3>Secure</h3>
        <p>With the help of the Passport Node package, we are able to full encrypt user information</p>
      </div>

    </div>
  </section>