<div class="row q1">
    <div class="col-sm-12 col-md-12">       
    <h2>What is Daily Journal?</h2>     
    </div>  
    <div class="col-sm-12 col-md-12">      
      <p>Daily Journal is an application that aims to provide users with an online platform where they can store their thoughts and ideas. 
        It was built with an Express server, MongoDB for the NoSQL database, and EJS as the view engine. With the help of NodeJS, PassportJS,
        and a few other Node packages, I was also able to salt and hash user information. This application will eventually serve as a place
        for me to test various security methods, making this application as secure as possible. 
      </p>      
    </div>  
  </div>

  <div class="row q2">
    <div class="col-sm-12 col-md-12">       
    <h2>How long did it take?</h2>     
    </div>  
    <div class="col-sm-12 col-md-12">      
      <p>
        To complete the first version with base functionality, including registering, logging and being able to post, it took me 3 days.
        This included setting up the database connections and deploying to heroku. I would have taken more timebut I wanted to 
        challenge my self and see how much I could get done within a strict deadline. However, this is 
        and application I would like to continue working on and improving in the future. 
      </p>      
    </div>  
  </div>

  <div class="row q3">
    <div class="col-sm-12 col-md-12">       
    <h2>What are some challenges you faced?</h2>     
    </div>  
    <div class="col-sm-12 col-md-12">      
      <p>
         Being completed within a few days the application is far from perfect. One of the challenges I faced was displaying
         only the journal entries that the user posted and not others' entries as well. I think this may be because of the NoSQL
         database. Since there are little to no options when it comes to setting up relationships between collections in a NoSQL
         model, the better option may could be a standard relational database. Because of this flaw users can see all journal entires,
         not just their own. 
      </p>
      <p>
         Another challenge was the time constraint. I would have also liked to add sign in with Google or Facebook, however due
         to the limited time on the project, I was unable to complete that functionality, opting to stick with a standard database check.
      </p>      
      <br>
    </div>  
  </div>
