.container-fluid{
    padding: 1% 15%;
}

.navbar{
  height: 100px;
  padding: 1% 15%;
}

.nav > li{
  margin-left:10px;
  margin-right:10px;
}


section .feature-image{
  height: 450px;
  text-align: center;
  background-image: url("../images/journal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}

section .register{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
 
 
}

#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  
.journal{
  margin-top: 150px;
}

.entry{
  margin-top: 150px;
}
.qna{
  margin-top: 150px;
}

.qna .jumbotron{
  background-image: url("../images/qna.jpg");
  padding-top: 325px;
  height: 550px;
  background-position: center;
  background-size: cover;
}

.composeBtn{ position: fixed; bottom: 20px; right: 20px; }
.deleteBtn{ position: fixed; bottom: 20px; right: 20px; }
