<% include ../partials/header.ejs %>

<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <i class="fas fa-book fa-7x"></i>
            <h1>Daily Journal</h1>
        </div>

        <div class="card-body">
          <h5 class="card-title">Welcome to my Node application</h5>
          <p class="card-text">This application was built with the purpose of displaying my capability to <br>
              put together an application front to back using Node, Express, EJS, and MongoDB </p>
            
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
      </div>
</div>




<% include ../partials/footer.ejs %>
