<% include ../partials/header.ejs %>

<% include ../partials/nav.ejs %>

<div class="journal container">
    <div class="jumbotron">
      <h1>My Journal</h1>
      <p class="lead">Welcome to My Journal. Here you are free to keep all of your thoughts, ideas, dreams, and wishes. Click the pencil to begin composing a new journal entry</p>
    </div>


    <% posts.forEach(function(post){ %>
      <h2>Title: <%=post.title%></h2>
      <p> Post: <%=post.content.substring(0,100)%>
    </p>

   <% }) %>

</div>
<a class="compose" href="/compose">
  <button class="btn btn-lg btn-primary" type="submit"><i class="fas fa-pencil-alt"></i></button>
</a>

<% include ../partials/footer.ejs %>
